@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:ital,wght@0,500;0,700;1,400&display=swap');
html, body, html * {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;  
  /* height: 100%; */
  
}

h1 {
    text-align: center;
  }

h2 {
    padding-left: 30px;
    text-decoration: underline;
    /* text-decoration-style: dashed; */
}

h4 {
  text-decoration: underline;
  text-decoration-style: double;
}

h3 {
  padding-left: 10px;
  text-decoration: underline;
  text-decoration-style: double;
}

/* html {
    font-size: 18px;
} */

li{
    margin: 10px 0px;
    margin-right: 100px;
    margin-left: 30px;
    padding-bottom: 7px;
  }

  li, p {
    word-spacing: 5px;
    font-size: 15px;
  }


.bg-gradient {
    height: 100%;
    width: 100%;
    /* background-image: linear-gradient(60deg, #ec008c,#fc6767);
    background-image: linear-gradient(60deg, #9796f0,#fbc7d4);
    background-image: linear-gradient(60deg, #acb6e5,#86fde8); */
  /* background-image: linear-gradient(60deg, #076585,#fff);
  background-image: linear-gradient(45deg, #ff9966,#ff5e62); */
  /* background: linear-gradient(to bottom, #8E24AA, #E1BEE7);
  background: linear-gradient(to bottom, #FF5722, #FFCCBC); */


}

img {
  height: 500px;
  padding-bottom: 50px;
  padding-left: 100px;
  margin-left: 30px;
  /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  transform: translate3d(0, 0, -40px);
  transition: transform 0.3s ease-in-out; */


}


hr {
  border: 1px dashed rgb(90, 86, 86);
  width: 500px;
}

.container {
  mix-blend-mode: multiply;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hello {
  text-align: center;
  padding-bottom: 30px;
}

p {
  padding-left: 30px;
}

.WIP {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}